.sign-up-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;

    background-color: #c1c1c1;
}

.signup-button{
    align-items: center;
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-family: "Roboto Light", sans-serif;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 15px;
}

.otp-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    font-size: 20px;
}

.otp-input{
    width: 100px;
    height: 20px;
    font-size: 15px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 15px;
}

.resend-otp-link{
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}